
#include "windows.h"

#define IDD_DIALOG5 100
#define IDC_EDIT1 1000

IDD_DIALOG5 DIALOG DISCARDABLE  0, 0, 186, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input scale factor (0-1)"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,41,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,41,50,14
    EDITTEXT        IDC_EDIT1,7,17,172,13,ES_AUTOHSCROLL
END
